# KlipChop menu definition
# Format:
# scriptname.py : description
# --- lines indicate a seperator
# @filename - include the config file

uniquelines.py  : Unique lines
lines2csv.py    : Lines to unique CSV list
csv2lines.py    : Split CSV into lines
--------
joinlines.py         : Join lines together
--------
table2csv.py    : Table into CSV (converts ascii framed text)
csv2table.py    : CSV into table (and the reverse)
--------
hex2dec.py      : Hex to decimal
dec2hex.py      : Decimal to Hex
--------
calculator.py   : Calculator (count, sum, min, max, average, median)
--------
