# KlipChop custom menu definition
# Format:
# scriptname.py : description
# --- lines indicate a seperator
# @filename - include the file (searches in stock area and custom dir in $home)
# $option = type = default = params (only bool type available, params is the description for bool types)

$LDEV-ranges = bool = True = Reduce LDEV ranges
ldevreduce.py : LDEV reduced to unique list
$extract-WWN = bool = True = Only extract valid WWN/NAA OUI
wwnlookup.py  : Annotate WWN/NAA OUI

